<!DOCTYPE html>
<html>
<head>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript" src="application.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>

